<router-outlet></router-outlet>


<div class="content has-text-centered">
  <p class="title">
    <strong>SPISAK ANGAZOVANJA</strong>
  </p>
  <table class="table is-bordered">
    <thead style="background-color: darkgray">


      <tr>
        <th>Predmet</th>
        <th>Profesor</th>
        <th>Oblik nastave</th>
        <th *ngIf="korisnik && korisnik.rola.id==1"></th>
        <th *ngIf="korisnik && korisnik.rola.id==1"></th>
      </tr>
    </thead>
    <tbody *ngFor="let angazovanje of angazovanja">
      <tr>

        <td>{{angazovanje.predmetDto.naziv}}</td>
        <td> {{angazovanje.osobljeDto.ime}} {{angazovanje.osobljeDto.prezime}} ({{angazovanje.osobljeDto.zvanje.naziv}})</td>
        <td>{{angazovanje.oblikNastave.naziv}}</td>
        <!--      Treba da se prosledi argument metodi.-->

        <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Izmeni" (click)="editAngazovanje(angazovanje)" /></td>
        <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Obriši"
            (click)="deleteAngazovanje(angazovanje.osobljeDto.id,angazovanje.predmetDto.id)" /></td>

      </tr>
    </tbody>
  </table>
</div>