<div class="columns is-centered">
    <div class="column">
      <div class="box" style="margin-top: 25px">
        <p class="title">{{getTitle()}}</p>
  
        <form [formGroup]="univerzitetForm" (ngSubmit)="go()">
          <div>
            <div class="field">
              <div class="control">
                <div class="columns">
                  <div class="column">
                    <label class="label">Univerzitet</label>
                    <div class="select">
                      <select (change)="UcitajFakultete(t.value, t.options)" #t formControlName="univerzitet">
                        <option *ngFor="let univerzitet of univerziteti" value="{{univerzitet.id}}">{{univerzitet.naziv}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="field">
            <div class="columns" *ngIf="fakulteti.length>0">
              
              <div class="column">
                <label class="label">Fakultet</label>
                <div class="select" >
                  <!--                  Profesore za ovaj select da puni iz baze-->
                  <select (change)="UcitajStudijskePrograme(t.value, t.options)" #t formControlName="fakultet"> 
                    <option *ngFor="let fakultet of fakulteti" value="{{fakultet.id}}">{{fakultet.naziv}}</option>
                  </select>
                </div>
              </div>
            </div>

              <div class="column" *ngIf="fakulteti.length>0&&studijskiProgrami.length>0">
                <label class="label">Studijski program</label>
                <div class="select">
                  <!--                  Predemete za ovaj select napuniti iz baze-->
                  <select (change)="UcitajModule(t.value, t.options)" #t formControlName="studijskiProgram">
                    <option *ngFor="let studijskiProgram of studijskiProgrami" value="{{studijskiProgram.id}}">{{studijskiProgram.naziv}}</option>
                  </select>
                </div>
              </div>

              <div class="column" *ngIf="fakulteti.length>0&&studijskiProgrami.length>0&&moduli.length>0">
                <label class="label">Modul</label>
                <div class="select">
                  <!--                  Predemete za ovaj select napuniti iz baze-->
                  <select (click)="UcitajPredmete(t.value, t.options)" #t formControlName="fakultet" >
                    <option *ngFor="let modul of moduli" value="{{modul.id}}">{{modul.naziv}}</option>
                  </select>
                </div>
              </div>

              <div class="column" *ngIf="fakulteti.length>0&&studijskiProgrami.length>0&&moduli.length>0&&predmetModulSortirano.length>0" >
                <label class="label">Predmeti</label>
                <label class="label">Prva godina</label>
                <table class="table is-bordered">
                  <thead style="background-color: darkgray">                          
                    <tr>
                      <th>R. BR.</th>
                      <th>Naziv predmeta</th>
                      <th>Semestar</th>
                      <th>ESPB</th>           
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let predmetModulSortiran of predmetModulSortirano">
                  <tbody *ngIf="predmetModulSortiran.godina==1">
                    <tr>              
                      <td>{{predmetModulSortiran.pozicija}}</td>
                      <td>{{predmetModulSortiran.predmetDto.naziv}}</td>
                      <td> {{predmetModulSortiran.semestar}}</td>
                      <td>{{predmetModulSortiran.predmetDto.espb}}</td>
                      <!--      Treba da se prosledi argument metodi.-->
              <!--     ubaciti metode za edit i delete-->
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Izmeni"/></td>
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Obriši"
                         /></td>
              
                    </tr>
                </tbody>
              </ng-container>
                </table>
                <label class="label">Druga godina</label>
                <table class="table is-bordered">
                  <thead style="background-color: darkgray"> 
                                             
                    <tr>
                      <th>R. BR.</th>
                      <th>Naziv predmeta</th>
                      <th>Semestar</th>
                      <th>ESPB</th>           
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let predmetModulSortiran of predmetModulSortirano">
                    <tbody *ngIf="predmetModulSortiran.godina==2">
                    <tr>              
                      <td>{{predmetModulSortiran.pozicija}}</td>
                      <td>{{predmetModulSortiran.predmetDto.naziv}}</td>
                      <td> {{predmetModulSortiran.semestar}}</td>
                      <td>{{predmetModulSortiran.predmetDto.espb}}</td>
                      <!--      Treba da se prosledi argument metodi.-->
              <!--     ubaciti metode za edit i delete-->
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Izmeni"/></td>
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Obriši"
                         /></td>
              
                    </tr>
                  </tbody>
                </ng-container>
                </table>
                <label class="label">Treca godina</label>
                <table class="table is-bordered">
                  <thead style="background-color: darkgray">                          
                    <tr>
                      <th>R. BR.</th>
                      <th>Naziv predmeta</th>
                      <th>Semestar</th>
                      <th>ESPB</th>           
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                    </tr>
                  </thead>
                <ng-container *ngFor="let predmetModulSortiran of predmetModulSortirano">
                    <tbody  *ngIf="predmetModulSortiran.godina==3">
                    <tr>              
                      <td>{{predmetModulSortiran.pozicija}}</td>
                      <td>{{predmetModulSortiran.predmetDto.naziv}}</td>
                      <td> {{predmetModulSortiran.semestar}}</td>
                      <td>{{predmetModulSortiran.predmetDto.espb}}</td>
                      <!--      Treba da se prosledi argument metodi.-->
              <!--     ubaciti metode za edit i delete-->
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Izmeni"/></td>
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Obriši"/></td>             
                    </tr>
                  </tbody>
                </ng-container>
                </table>

                <label class="label">Cetvrta godina</label>
                <table class="table is-bordered">
                  <thead style="background-color: darkgray">                          
                    <tr>
                      <th>R. BR.</th>
                      <th>Naziv predmeta</th>
                      <th>Semestar</th>
                      <th>ESPB</th>           
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                      <th *ngIf="korisnik && korisnik.rola.id==1"></th>
                    </tr>
                  </thead>
                <ng-container *ngFor="let predmetModulSortiran of predmetModulSortirano">
                    <tbody  *ngIf="predmetModulSortiran.godina==4">
                    <tr>              
                      <td>{{predmetModulSortiran.pozicija}}</td>
                      <td>{{predmetModulSortiran.predmetDto.naziv}}</td>
                      <td> {{predmetModulSortiran.semestar}}</td>
                      <td>{{predmetModulSortiran.predmetDto.espb}}</td>
                      <!--      Treba da se prosledi argument metodi.-->
              <!--     ubaciti metode za edit i delete-->
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Izmeni"/></td>
                      <td *ngIf="korisnik && korisnik.rola.id==1"><input type="button" value="Obriši"
                         /></td>             
                    </tr>
                  </tbody>
                </ng-container>
                </table>

              </div>
            </div>
  
          
  
          <button type="submit" class="button is-block is-large" style="color: white;">Prikazi <i class="fa fa-save"
              aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
</div>